body {
  background-color: whitesmoke;
}

::placeholder {
   text-align: center; 
}

#root {
  width: 400px;
  margin: 10% auto;
}

form {
  display: grid;
  margin-bottom: 10px;
}

input, button {
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid silver;
  margin-bottom: 5px;
  border-right: 5px solid silver;
  border-left: 5px solid silver;
  background-color: white;
}

input:hover, button:hover {
  border: 2px solid lime;
  border-radius: 10px;
  border-right: 5px solid lime;
  border-left: 5px solid lime;
}
input:active, button:active {
  border: 2px solid black;
  border-right: 5px solid black;
  border-left: 5px solid black;
}
h3 {
  border: 1px solid red;
  width: 400px;
  text-align: center;
}

